<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @food.weight %>
</p>

<p>
  <strong>Vegan:</strong>
  <%= @food.vegan %>
</p>

<p>
  <strong>Placed in fridge:</strong>
  <%= @food.placed_in_fridge %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
